<div class="container-fluid">


  <div class="back-shadow">
    <div class="center"><h1>Thanks for joining the league!</h1></div>
    <div>The following people have joined</div>
    <div class="text-ranking mt-4 mb-4">
      <% @league.teams.each_with_index do |team, index| %>
        <div class="team">
          <div class="team-position"><%= index + 1 %></div>
          <div class="team-name"><%= team.name %></div>
        </div>
      <% end %>
    </div>
    <h3>We're now waiting for other people to join</h3>
    <div class="form-edit-league">
      <div>Invite friends!</div>
      <div class="input-group" data-controller="clipboard" data-clipboard-feedback-text-value="Copied!">
        <input class="form-control" data-clipboard-target="input" type="text" value="http://www.kick-ace.me/leagues/<%= @league.id%>/teams/new" readonly>
        <div class="input-group-append">
          <button id="copy-button" class="btn btn-outline-primary" data-action="click->clipboard#copy">Copy link</button>
        </div>
      </div>
    </div>
  </div>

</div>
