
<div class="container" data-controller = "budget-update enable-button search">
  <h1>Congrats! Your team has just been created</h1>
  <p>Now is the time to place your bids & get the best tennis champions</p>
  <h3>Please choose min. 8 players & remain within budget!</h3>
  <div class="d-flex" data-budget-update-target= "recap">
    <h4>Remaining budget: </h4> <h4 data-budget-update-target = "budget" data-enable-button-target = "budget">500 </h4>  <h4>m€ </h4>

  </div>

<%= link_to "SUBMIT YOUR BIDS", league_team_path(@league, @team), method: "PATCH", class:"btn btn-dark disabled", data: {enable_button_target: "button" } %>

  <%= form_with url: edit_league_team_path(@league,@team), method: :get, html: { class:
    'mb-4', data: { search_target: 'form' } } do |f| %>
    <%= f.text_field :query,
                     class: "form-control",
                     placeholder: 'Search players',
                     value: params[:query],
                     data: { search_target: 'input', action: 'keyup->search#update' } %>
                     <% end %>

<div class="container d-flex" data-controller="players-selection">
  <%= render 'list', players: @players %>

  <div class="my_team m-5 w-75" data-controller = "create-selection">
    <ul class="list-group" id="team" data-players-selection-target="team">
      <li class="list-group-item"> <strong>MY TEAM</strong> </li>
    </ul>
  </div>
</div>

</div>
