<div class="players_index m-5" >
    <ul class="list-group" data-search-target = "players" >
      <li class="list-group-item"> <strong>AVAILABLE PLAYERS</strong> </li>
      <% players.each do |player| %>
        <li class="list-group-item"  > <%=player.first_name%> <%=player.last_name%> - Min. price: <%= player.min_price/1000000%>m€ <%= link_to new_selection_path(player_id: player.id, team_id: @team.id), data: {action: "click->enable-button#enable ajax:success->players-selection#update click->players-selection#disable click->disable-add#disable click->counter#increment", disable_add_target: "players"}, remote: true do %> <i class="fa-solid fa-circle-plus  align-items-right"></i> <% end %> <i class="fa-solid fa-check disabled d-none"></i></li>
      <% end %>

  </ul>
</div>
