<div class="secured-team-box">
  <p class = "title-auctions">You already secured the below players</p>
  <% @current_user_secured_selections.each do |selection| %>
  <div class="secured-player-list">
    <div class = "player-name">
      <%=Player.find(selection[:player_id]).first_name%>
      <%=Player.find(selection[:player_id]).last_name%>
    </div>
    <div class = "player-price">
      <%= selection.price%> m€
    </div>
  </div>
  <% end %>
</div>
