<div id = "background-notification">
  <div class="container-notification">
    <h3>All teams have placed their bids </h3>
    <%= link_to "RESULTS", bidding_path(@league, @team), class: "btn-confirm" %>
  </div>
</div>
