<div class="container-fluid">

  <% if !@league.complete? %>
    <%= render 'bidding_waiting' %>
  <% elsif @league.round_progress == "finalized" %>
    <%= render 'final'  %>
  <% else %>
    <%= render 'bidding_active' %>
  <% end %>
</div>
