<p>Status of the team: <%= @team.progress %></p>

<% if @league.teams.length < @league.number_of_users %>

<% else %>

  <% if @team.progress == "starting" %>
    <%= render 'edit_starting' %>

  <% elsif @team.progress == "bids_submitted" %>
    <% if !@teams_non_submitted.empty?  %>
      <%= render 'edit_submitted_waiting' %>
    <% else %>
      <%= render 'edit_submitted_new_round' %>
    <% end %>
  <% end %>

<% end %>
