<div class="container-fluid white">
  <div>
    <h1>Create your league</h1>
    <%= simple_form_for(@league) do |f| %>
    <%= f.input :name %>
    <%= f.input :number_of_users %>
    <%= f.submit %>
    <% end %>
  </div>
</div>
