<div class="homescroller">
  <div class="title-homescroller"><h1>Break the rules !</h1></div>

  <%= link_to user_path(current_user), class: "button-home" do %>
    <%= image_tag 'logo-kick-ace-white.png', width: '140px' %>
  <% end %>
</div>
