<h1>Welcome <%= current_user.nickname %></h1>

<h2>Here are your leagues</h2>

<div class="row">
    <% @leagues.each do |league| %>
    <%= link_to league.name, league_path(league) %>
    <% end %>
</div>
