<div class="second-navbar">
    <div class="items" data-controller="second-navbar" data-second-navbar-name-value="<%= league.name %>">
      <% leagues.each do |league| %>
        <% chatroom = Chatroom.find_by(league: league) %>
        <%= link_to chatroom_path(chatroom), data: { action: 'click->second-navbar#active' } do %>
          <div class="second-navbar-item" data-second-navbar-target="league">
            <%= league.name %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
