<div class="fake-footer">
  <%= link_to root_path do %>
    <i class="fa-solid fa-comments"></i>
  <% end %>

  <%= link_to root_path do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
  <%= link_to root_path do %>
    <i class="fa-solid fa-medal"></i>
  <% end %>
</div>
