<div class="navbar" data-controller="toggle-navbar">
    <div class="items">
      <div>
        <%= link_to root_path do %>
          <%= image_tag 'logo-kick-ace-white.png', width: '90px' %>
        <% end %>
      </div>
      <div>
        <div class="button-navbar" data-action="click->toggle-navbar#toggle"><i class="fa-solid fa-bars"></i></div>
      </div>
    </div>
    <div class="d-none" data-toggle-navbar-target="link">
      <div class="link-navbar">
        <a href="#">Account</a>
        <a href="#">Log Out</a>
      </div>
    </div>
</div>
