<h1>Players In TOP 100 ATP</h1>

<ul>
  <% @players.first(100).each do |player| %>
    <li>
      <%= player["rank"] %>ème - <%= player["competitor"]["name"] %>
       -
       <%= link_to "more info", player_path(player["competitor"]["id"].split(":").last) %></li>
  <% end %>
</ul>
