<h1>Players In TOP 100 ATP</h1>

<ul>
  <% @players.each do |player| %>
    <li>
      <%= player.ranking %>ème - <%= player.first_name %> <%= player.last_name %>
       -
       <%= link_to "more info", player_path(player.id) %>
    </li>
  <% end %>
</ul>
