<h1>Matches#show</h1>
<p>Find me in app/views/matches/show.html.erb</p>

<h2><%= @match["sport_event"]["competitors"][0]["name"] %> vs. <%= @match["sport_event"]["competitors"][1]["name"] %></h2>

<% @versus["last_meetings"].each do |meeting| %>
  <% winner_id = meeting["sport_event_status"]["winner_id"] %>
  <% player_detail_url = "https://api.sportradar.com/tennis/trial/v3/en/competitors/#{winner_id}/profile.json?api_key=#{@key}" %>
  <% player = JSON.parse(URI.open(player_detail_url).read) %>
  <p><%= player["competitor"]["name"] %></p>
<% end %>
