body {
  background-image: url("background-bicolor.png");
  background-size: cover;
  background-position: 0 -30vw;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  body {
    background-position: 0 -26vw;
  }
}

@media (max-width: 576px) {
  body {
    background-position: 0 -21vw;
  }
}

.background {
  z-index: -1;
  background-position: center;
  opacity: 0.1;
}
