.search-box  {
  background-color: $light-orange;
  color: $orange;
  width: 50%;
  height: 5vh;
  padding-left: 4vh;
  padding-right: 4vh;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 2vh;
  margin-top: 10px;
}

.budget-box {
  color: black;
  font-size: 20px;
  padding: 4px;
  width: 100%;
  display: flex;
}

.players-box {
  height: 150px;
  padding: 0 30px;
  border: solid 0.5px black;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.6);
}
.player-name {
  width: 160px;
  color: black;
  font-size: 14px;
  text-align: left;
  align-items: center;
}
.player-price {
  font-size: 14px;
  width: 70px;
}

.team-box {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 12px;
  padding: 4px;
  width: 80%;
  font-weight: bold;
  background-color: $light-orange;
  margin: 0 auto;
  align-items: center;
}

.bid-box {
  text-align: right;
  font-size: 14px;
  width: 60px;
  align-items: center;

}

.count-box {
  display: flex;
  color: black;
  border: solid 1px $orange;
  font-size: 12px;
  padding: 4px;
  width: 80%;
  font-weight: bold;
  background-color: $light-orange;
  margin: 0 auto;
  align-items: center;
}

.submit-box{
  width: 150px;
  text-align: center;
  margin: 0 auto;
}

.secured-team-box{
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.5);
  color: black;
  padding: 5px 15px;

}
