.search-box  {
  background-color: $light-orange;
  color: $orange;
  width: 50vw;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.budget-box {
  color: black;
  width: 100%;
}


.player-name {
  width: 160px;
  color: black;
  font-size: 14px;
  text-align: left;
  align-items: center;
}
.player-price {
  font-size: 14px;
  width: 70px;
}

.team-box {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 12px;
  padding: 4px;
  margin-bottom: 15vw;
  width: 100%;
  background-color: $light-orange;
  align-items: center;
  border: solid 0.5px $orange;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bid-box {
  font-size: 14px;
  width: 60px;
  height: 30px;
  margin-top: 15px;
  align-items: center;
}

.players-box {
  height: 150px;
  padding: 2px 10px;
  border: solid 0.5px $orange;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.6);
  display: flex;
  flex-direction: column;
  margin-bottom: 5vw;
}

.count-box {
  display: flex;
  flex-direction: column;
  color: black;
  border: solid 0.5px $orange;
  font-size: 14px;
  padding: 0 10px;
  width: 100%;
  background-color: $light-orange;
  margin: 0 auto;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-counter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
}

.submit-box{
  width: 150px;
  text-align: center;
  margin: 0 auto;
}

.secured-team-box{
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.5);
  color: black;
  padding: 5px 15px;
}

.box-player-ready {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-player-ready {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0vh 2vh 2vh rgba(0, 0, 0, 0.25);
  padding: 2vh;
  width: 80%;
  margin-top: 2vw;
  margin-bottom: 8vw;
  border-radius: 10px;
  ul {
    list-style: none;
  }
}

.border-radius {
  border-radius: 50%;
}

.box-list-player {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  img {
    border-radius: 50%;
    margin-right: 10px;
  }
}

.rotate{
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#background-notification {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 800;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
}
.container-notification{
  width: 80%;
  height: 150px;
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $light-orange;
  color: $orange;
  border-radius: 10px;
}

.box-league {
  flex-grow: 1;
  margin: auto;
  width: 1000px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid $orange;
}

@media (max-width: 1320px) {
  .box-league {
    width: 1000px;
  }
}

@media (max-width: 1200px) {
  .box-league {
    width: 725px;
  }
}

@media (max-width: 768px) {
  .box-league {
    width: 600px;
  }
}

@media (max-width: 576px) {
  .box-league {
    width: 360px;
  }
}


.box-home {
  margin: 10px auto;
  width: 90%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.box-home-2 {
  width: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
