.carousel-btn {
  border-radius: 50%;
  background-color: $orange;
  border: 0px solid transparent;
  font-weight: bold;
  color: white;
  font-size: 10px;
  padding: 4px 8px;
}

.disabled-carousel-btn {
  border-radius: 50%;
  background-color: #cf856e;
  border: 0px solid transparent;
  font-weight: bold;
  color: rgb(168, 168, 168);
  font-size: 10px;
  padding: 4px 8px;
}
