// .carousel-btn {
//   border-radius: 50%;
//   background-color: $orange;
//   border: 0px solid transparent;
//   font-weight: bold;
//   color: white;
//   font-size: 10px;
//   padding: 4px 8px;
// }

// .disabled-carousel-btn {
//   border-radius: 50%;
//   background-color: #cf856e;
//   border: 0px solid transparent;
//   font-weight: bold;
//   color: rgb(168, 168, 168);
//   font-size: 10px;
//   padding: 4px 8px;
// }

.bouton-transp {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-size: 1.5vh;
  padding: 1vh 3vh;
  margin: 2.5vh;
  border-radius: 2vh;
  font-weight: lighter;
  color: $orange;
  border: 0.2vh solid $orange;
  width: 20vh;
    cursor: pointer;
  &:hover {
    background-color: $orange;
    color: white;
  }
}

.bouton-transp-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 12px;
  // padding: 1vh 3vh;
  margin: 5vw;
  border-radius: 5vw;
  font-weight: lighter;
  border: 0.2vh solid $orange;
  width: 40vw;
    cursor: pointer;
  &:hover {
    background-color: $orange;
    color: white;
  }
}

.bouton-transp-new-league {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  border-radius: 10px;
  font-weight: lighter;
  border: 1px solid $orange;
  width: 70vw;
  cursor: pointer;
  a{
    color: $orange;
  }
  &:hover {
    background-color: $orange;
    color: white;
    a{
      color:white;
    }
  }
}

.bouton-transp-share {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  border-radius: 10px;
  font-weight: lighter;
  border: 1px solid $orange;
  width: 70vw;
  cursor: pointer;
  color: $orange;
  margin-bottom: 10vw;
  a{
    color: $orange;
  }
  &:hover {
    background-color: $orange;
    color: white;
    a{
      color:white;
    }
  }
}

.bouton-plain-share {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $orange;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  border-radius: 10px;
  font-weight: lighter;
  width: 70vw;
  cursor: pointer;
  color: $orange;
  border: 1px solid $orange;
  color: white;
  margin: 15px;
  a{
    color: $white;
  }
  &:hover {
    background-color: white;
    color: white;
    border: 1px solid $orange;
    color: $orange;
    a{
      color:$orange;
    }
  }
}

.bouton-plain {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $orange;
  font-size: 1.5vh;
  padding: 1vh 3vh;
  margin-bottom: 5vw;;
  border-radius: 2vh;
  font-weight: bold;
  border: 0.2vh solid $orange;
  width: 20vh;
  cursor: pointer;
  box-shadow: 0 0 0 5px $orange, inset 0 0 0 1px #fff;
  &:hover {
    background-color: white;
    color: $orange;
  }
}

.button-btml {
  margin-top: 9vh;
}

.btn-outline-primary {
  border-color: $orange !important;
  color: $orange !important;
  &:hover {
    background-color: $orange !important;
    color: white !important;
  }
}

.btn-chatroom {
  height: 38px !important;
}

.btn-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-size: 1.5vh;
  padding: 1vh 3vh;
  margin: 2.5vh;
  border-radius: 2vh;
  font-weight: lighter;
  color: $orange;
  border: 0.2vh solid $orange;
  width: 20vh;
    cursor: pointer;
  &:hover {
    background-color: $orange;
    color: white;
  }
}

.btn-submit-bids {
  background-color: $light-orange;
  color: $orange;
  width: 40%;
  height: 35px;
  margin: 0 auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  bottom: 70px;
  justify-content: space-around;

  border-radius: 5px;
  border: 0.2vh solid $orange;

}

.bouton-delete {
  width: 10px;
  height: 10px;
}
