.container-user {
  width: 223px;
}

.ranking-card-container {
  position: relative;
}

.ranking-laurier {
  position: absolute;
  left: 50%;
  bottom: 140px;
}

.center {
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ranking-card {
  padding: 20px 0px;
  background: rgba(211, 82, 41, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card-title {
  font-family: $headers-font;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: $orange;
  }

.card-carousel {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative
}


.racket {
  position: absolute;
  left: 5%;
  bottom: 10%;
  transform: rotate(-140deg);
}

.carousel-league {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-orange;
  width: 223px;
  height: 200px;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  a {
    color: $orange;
  }
}

.carousel-news {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-orange;
  width: 223px;
  height: 130px;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  a {
    color: $orange;
  }
}

.stream-logo {
  position: absolute;
  left: 5%;
  top: 5%;
}

.fa-circle-chevron-left {
  position: absolute;
  margin-left: 5%;
  color: $orange;
}

.fa-circle-chevron-right {
  position: absolute;
  margin-right: 5%;
  color: $orange;
}

.card-news-unique {
  background-color: $light-orange;
  width: 223px;
  height: 150px;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  a {
    color: $orange;
  }
}

.photo-news {
  position: absolute;
  left: -8%;
  bottom: -12%;
}

.ranking-card-team {
  font-family: $headers-font;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: $orange;
}

.card-player-league-view {
  position: relative;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-collapse: separate;
  background-color: rgba(55, 211, 41, 0.1);
  text-align: center;
  vertical-align: middle;
}

.position-top-players {
position: absolute;
bottom : 100px;
left: 50px;
}

.position-bottom-players {
  position: absolute;
  bottom : 100px;
  left: 50px;
  }

a {
  text-decoration: none;
  color: $orange;
}

p {
  font-family: $headers-font;
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  line-height: 10px;
  color: $orange;
}
