.card-container {
  position: relative;
  .ranking-laurier {
    position: absolute;
    left: 43%;
    bottom: 145px;
  }
}

.ranking-card {
  padding: 10px 0px;
  background: rgba(211, 82, 41, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.card-text {
  font-family: $headers-font;
  font-style: normal;
  text-align: center;
  color: $orange;
  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 3px;
  }
  .team {
    font-size: 12px;
    line-height: 15px;
  }
}

.center {
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-carousel {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative
}


.racket {
  position: absolute;
  left: 5%;
  bottom: 10%;
  transform: rotate(-140deg);
}

.carousel-league {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-orange;
  width: 223px;
  height: 200px;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  a {
    color: $orange;
  }
}

.carousel-news {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-orange;
  width: 223px;
  height: 130px;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  a {
    color: $orange;
  }
}

.stream-logo {
  position: absolute;
  left: 5%;
  top: 5%;
}

.fa-circle-chevron-left {
  position: absolute;
  margin-left: 5%;
  color: $orange;
}

.fa-circle-chevron-right {
  position: absolute;
  margin-right: 5%;
  color: $orange;
}

.card-news-unique {
  background-color: $light-orange;
  width: 223px;
  height: 150px;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  a {
    color: $orange;
  }
}

.photo-news {
  position: absolute;
  left: -8%;
  bottom: -12%;
}

.ranking-card-team {
  font-family: $headers-font;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: $orange;
}

.card-player-league-view {
  position: relative;
}

.circle {
  height: 15px;
  width: 15px;
  font-size: 10px;
  border-radius: 50%;
  border-collapse: separate;
  background-color: rgba(211, 82, 41, 0.05);
  text-align: center;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: $orange;
}

p {
  font-family: $headers-font;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: $orange;
}

h1 {
  text-align: center;
  vertical-align: middle;
}

.position-top-players {
  position: absolute;
  bottom : 70px;
  left: 50px;
}

.position-bottom-players {
  position: absolute;
  bottom : 70px;
  right: 60px;
  }

.orange-bot {
  border-bottom: solid 0.5px $orange;
}

.player-name {
  color: $orange;
  font-family: $headers-font;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  vertical-align: middle;
}

.card-product {
  overflow: hidden;
  height: 21px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 20px;
  h2 {
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
  }
  img {
    height: 15px;
    width: 15px;
    object-fit: scale-down ;
  }
}

.player-ranking {
  height: 30px;
  display: flex;
  align-items: center;
  color: $orange;
  font-size: 11px;
}

.titulaires-box {
  background: rgba(211, 82, 41, 0.05);
  border: dashed 0.5px $orange;
  border-radius: 10px;
  height: 27.5vh;
  width: 77%;
  color: grey;
  z-index: 0;
  position: absolute;
  top: 15.5vh;
  left: 6.5vh;
  z-index: -1;
}

.substitute {
  color: grey;
}

.substitutes-box {
  background: rgba(128, 128, 128, 0.05);
  border: dashed 0.5px grey;
  border-radius: 10px;
  height: 10vh;
  width: 77%;
  color: grey;
  z-index: 0;
  position: absolute;
  top: 44vh;
  left: 6.5vh;
  z-index: -1;
}

.drag-drop {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.box-drag-drop {
  background-color: transparent;
  margin-top: 10px;
  height: 37vh;
}

.card-statistics {
  background: $light-orange;
  border-radius: 10px;
  height: 25vh;
  width: 77%;
  color: grey;
  z-index: 0;
  position: fixed;
  top: 200px;
  left: 6.5vh;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $orange;
  p {
    font-size: 12px;
    line-height: 1.2;
  }
}
