// :root {
//   --card-height: 40vw;
//   --card-max-height: 305px;
//   --card-min-height: 240;
//   --card-width: 40vw;
//   --card-max-width: 225px;
//   --card-min-width: 180px;
// }


.carousel {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: 17vh;
  // bottom: 20vh;
  // left: 25vw;
  //position: fixed;
}

// .carousel:hover {
//   cursor: grab;
// }



.carousel__item {
  position: fixed;
  left: 30%;
  bottom: 10%;
  max-width: 190px;
  max-height: 280px;
  min-height: 145px;
  min-width: 150px;
  // top: 117vw;
  margin: auto;
  list-style-type: none;
  p{
    color: black;
    bottom: -10px;
    font-size: 12px;
    font-weight: lighter;
    text-shadow: 1px 1px 2px black;
  }
}

.carousel__item-wrapper {
  position: fixed;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-blend-mode: hard-light;
  font-size: 3.5vw;
  font-family: system-ui;
  font-weight: 300;
  padding-bottom: 2vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  background: black;
  height: 100%;
  width: 100%;
  p {
    color: white;
    font-size: 16px;
    font-weight: lighter;
  }

}

.carousel__controls {
  position: fixed;
  top: 79vh;
  width: 173vw;
  height: 5vw;
  left: -37vw;
  right: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 5vw;
  i {
    font-size: 25px;
  }
}

.carousel__controls button {
  background: none;
  font-size: 4.5vw;
  width: 7vw;
  padding-top: 1vw;
  color: white;
  border: none;
  outline: none;
  line-height: 0vw;
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.carousel__controls button:hover {
  cursor: pointer;
}

.box-stats-card {
  height: 100vh;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-card {
  width: 100px;
  height: 150px;
  background-color: $orange;
}

.player-stats {
  margin-top: 15px;
}
