.footer {
  background-color: $orange;
  height: 175px;
  margin-top: auto;
  width: 120%;
  bottom: 0;
  box-shadow: 0vh -0.5vh 0.5vh rgba(0, 0, 0, 0.25);
}

.footer-content {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  i {
    color: white;
    font-size: 32px;
  }
}

.footer-text {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
    background-color: $orange;
    height: 65px;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    box-shadow: 0vh -0.5vh 0.5vh rgba(0, 0, 0, 0.25);
  }

  .footer-content {
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    i {
      color: white;
      font-size: 32px;
    }
  }
}
