.footer {
  background-color: $orange;
  width: 100%;
  margin-top: auto;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  // position: fixed;
  i {
    color: white;
    font-size: 3vh;
  }
  box-shadow: 0vh -0.5vh 0.5vh rgba(0, 0, 0, 0.25);
}
