.navbar {
  border-bottom: 0.2vh solid white;
  margin-bottom: 3vh;
  height: 65px;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  // background-color: white;
}

.button-navbar {
  position: relative;
  font-size: 4vh;
  color: white;
}

.link-navbar {
  position: absolute;
  right: 2vh;
  top: 9vh;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  background-color: $light-orange;
  border-radius: 2vh;
  a {
    color: white;
  }
}

// .dropdown-menu {
//   background: $orange;
//   border-radius: 1.5vh;
//   font-size: 2vh;
// }

// .dropdown-item:hover{
//   background: $orange;
//   color: $orange;
//   font-weight: bolder;
// }
