.team {
  font-size: 16px;
  font-weight: bold;
  line-height: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid $orange;
  .team-position {
    width: 10vw;
  }
  img {
    margin-right: 12px;
  }
  .team-name {
    flex-grow: 1;
  }
  &:last-child {
    border-bottom: 0px solid transparent;
    padding-bottom: 0px;
  }
}

.border-radius {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ranking-card {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0vh 2vh 2vh rgba(0, 0, 0, 0.25);
  margin-bottom: 5vh;
  margin-top: 4vh;
  position: relative;
  padding: 2vh;
  border-radius: 10px;
  .text-ranking {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
  }
  .ranking-laurier {
    position: absolute;
    top: -9vw;
    left: 36vw;
  }
  .title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    font-family: $second-headers-font;
  }
}

#team-name {
  text-align: center;
  margin-bottom: 5vw;
  letter-spacing: 5px;
  font-family: $second-headers-font;
  font-size: 24px;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  border-bottom: 1px solid #D35229;
}
