.search-box  {
  background-color: $light-orange;
  color: $orange;
  width: 50%;
  height: 5vh;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 15px;
}
