// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
@import "font-awesome";
// @import "swiper/swiper-bundle";
// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
}

h3 {
  font-size: 17px;
  margin-bottom: 5px;
}

p {
  font-size: 8px;
  font-weight: lighter;
  color: black;
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 5px;
}
